services:
  proxy:
    image: traefik:3.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: "no"
    ports:
      - "80:80"
      - "8090:8080"
    command:
      # Enable Docker in Traefik, so that it reads labels from Docker services
      - --providers.docker
      # Add a constraint to only use services with the label for this stack
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      # Do not expose all Docker services, only the ones explicitly exposed
      - --providers.docker.exposedbydefault=false
      # Create an entrypoint "http" listening on port 80
      - --entrypoints.http.address=:80
      # Create an entrypoint "https" listening on port 443
      - --entrypoints.https.address=:443
      # Enable the access log, with HTTP requests
      - --accesslog
      # Enable the Traefik log, for configurations and errors
      - --log
      # Enable debug logging for local development
      - --log.level=DEBUG
      # Enable the Dashboard and API
      - --api
      # Enable the Dashboard and API in insecure mode for local development
      - --api.insecure=true
    labels:
      # Enable Traefik for this service, to make it available in the public network
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      # Dummy https-redirect middleware that doesn't really redirect, only to
      # allow running it locally
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false
    networks:
      - traefik-public
      - default

  db:
    restart: "no"
    ports:
      - "5432:5432"

  adminer:
    restart: "no"
    ports:
      - "8080:8080"

  flower:
    restart: "no"
    ports:
      - "5555:5555"

  queue:
    restart: "no"

  cache:
    restart: "no"

  backend:
    restart: "no"
    ports:
      - "8888:8888"
    volumes:
      - ./backend/app/app:/app/app
    environment:
      - JUPYTER=jupyter lab --ip=0.0.0.0 --allow-root --NotebookApp.custom_display_url=http://127.0.0.1:8888
      - SERVER_HOST=http://${DOMAIN?Variable not set}
      - SMTP_HOST=mailcatcher
      - SMTP_PORT=1025
      - SMTP_TLS=false
      - EMAILS_FROM_EMAIL=${EMAILS_FROM_EMAIL?Variable not set}
    build:
      context: ./backend
      dockerfile: backend.dockerfile
      args:
        BACKEND_APP_MODULE: ${BACKEND_APP_MODULE-app.main:app}
        BACKEND_PRE_START_PATH: ${BACKEND_PRE_START_PATH-/app/scripts/prestart.sh}
        BACKEND_PROCESS_MANAGER: ${BACKEND_PROCESS_MANAGER-uvicorn}
        BACKEND_WITH_RELOAD: ${BACKEND_WITH_RELOAD-true}
        INSTALL_DEV: ${INSTALL_DEV-true}
        INSTALL_JUPYTER: ${INSTALL_JUPYTER-true}
    labels:
      - traefik.enable=true
      - traefik.constraint-label-stack=${TRAEFIK_TAG?Variable not set}
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-http.rule=PathPrefix(`/api/v`) || PathPrefix(`/api/auth`) || PathPrefix(`/redoc`) || PathPrefix(`/`)
      - traefik.http.services.${STACK_NAME?Variable not set}-backend.loadbalancer.server.port=80
      # Dummy https-redirect middleware that doesn't really redirect, only to
      # allow running it locally
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false

  worker:
    restart: "no"
    volumes:
      - ./backend/app/app:/app/app
    environment:
      - RUN=hatch run celery -A app.worker worker -l info -Q main-queue -c 1
      - JUPYTER=hatch run jupyter lab --ip=0.0.0.0 --allow-root --NotebookApp.custom_display_url=http://127.0.0.1:8888
      - SERVER_HOST=http://${DOMAIN?Variable not set}
    build:
      context: ./backend
      dockerfile: worker.dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-true}
        INSTALL_JUPYTER: ${INSTALL_JUPYTER-true}

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"

  frontend:
    # Won't build. Run as per the docs direct to ensure live rebuild.
    # https://docs.docker.com/reference/compose-file/merge/#reset-value
    # https://docs.docker.com/compose/how-tos/profiles/#stop-specific-profiles
    image: "${DOCKER_IMAGE_FRONTEND?Variable not set}:${TAG-latest}"
    environment:
      - NUXT_HOST=!reset null
      - NUXT_PORT=!reset null
      - NITRO_HOST=!reset null
      - NITRO_PORT=!reset null
    ports: !reset []
    build: !reset null
    profiles:
      - donotstart

volumes:
  node_modules:

networks:
  traefik-public:
    # For local dev, don't expect an external Traefik network
    # https://docs.docker.com/reference/compose-file/merge/#reset-value
    external: false
